.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #292c3d;
}

.menu_item, .menu_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0 1em;
    transition: 0.5s;
}

.menu_item > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
}

.menu_item:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.menu_btn {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    width: 100%;
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

.menu_btn:hover {
    background-image: linear-gradient(144deg, #00DDEB, #AF40FF, #5B42F3 50%);
    color: white;
}

.menu_btn:active {
    font-weight: normal;
}

@media screen and (max-width: 1024px) {
    .menu_item, .menu_btn {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .menu_item, .menu_btn {
        width: 100%;
        height: 40px;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
}