body, html {
    height: 100%;
    margin: 0;
}

.game_addition_whole {
    display: flex;
    height: 100%;
}
.game_addition_left_side {
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #292c3d;
    padding: 20px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

.save_me{
    flex: 7;
    min-height: 100%;
}

.save_me_but_left{
    flex: 3;
    min-height: 100%;
}

.game_addition_right_side {
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    justify-content: center;
    align-items: center;
    background-color: #292c3d;
    padding: 20px;
    height: 100%;
}

.addition_preview{
}
.addition_form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Style for the age_rating select box */
#age_rating {
    width: 50px; /* Adjust the width as needed, considering the margin-left of 10px */
}

.button-22 {
    margin: 0 auto;
    margin-bottom: 1rem;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 200px;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-22:active,
.button-22:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-22 {
        font-size: 24px;
        min-width: 196px;
    }
}
#systemRequirements,
#description {
    height: 80px; /* Adjust the height as needed */
    resize: vertical; /* Allow vertical resizing */
}


.preview .game_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview .gradient {
    background-image: linear-gradient(to bottom, rgba(56, 59, 83, 0), rgba(56, 59, 83, 1));
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin-top: -11rem;
}

.preview .image {
    z-index: -1;
    display: flex;
    /*margin-bottom: -100%;*/
    max-height: 40rem;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 0;
    /*!*-webkit-mask-image: linear-gradient(black, transparent);*!*/
    /*mask-image: linear-gradient(black, transparent);*/
}

.preview .bottom {
    background-color: #383b53;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.preview .data {
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #383b53;
}

.preview .page {
    justify-content: flex-start;

}

.preview .cover {
    justify-content: center;
    border-radius: 8px;
    max-width: 20%;
    min-width: 196px;
    margin-left: 15rem;
    margin-bottom: 2rem;
}

.preview .details {
    display: table;
}

.preview .game_card_line_name {
    font-weight: bold;
    float: left;
    width: 30%;
    text-align: left;
    font-size: 1.5rem;
}

.preview .game_card_line_value {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 1.5rem;
}

.preview .image_side {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.preview .title {
    font-size: 3rem;
}
